@page "{id}"
@model RMSystem.Pages.Risks.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-center">Delete Confirmation</h3>

<div class="alert alert-danger">
    <div class="row">
        <div class="col text-center">
            <h5> Do you really want to delete the Risk? </h5>
            <h5> Description: @Model.Risk.Description</h5>
            <form method="post">
                <button type="submit" class="btn btn-danger">Yes, I do.</button>
                <a class="btn btn-primary" asp-page="/Risks/Risks/">No!</a>
            </form>
        </div>
    </div>
</div>





